<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../styles/reset.css" >
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/all.css">
    <link rel="stylesheet" href="../styles/aside.css">
</head>
<body>
<div class="aside"><!-- to center this section or whatever -->
    <div class="movies">
        <div class="aside__headline">
            <div class="aside__headline--center">Top movies</div>
        </div>
        <div class="table"> <!-- )) -->
            <div class="list list--left">
                <div class="list__item">1.</div>
                <div class="list__item">2.</div>
                <div class="list__item">3.</div>
            </div>
            <div class="list list--right">
                <div class="list__item">It 2</div>
                <div class="list__item">It 3</div>
                <div class="list__item">Radio day</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>