<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../styles/reset.css" >
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/all.css">
    <link rel="stylesheet" href="../styles/film.css">
</head>
<body>
<div class="film"> <!-- to center this section or whatever -->
    <div class="film__photo">
        <img alt="photo" src="../img/guy.jpeg">
    </div>
    <div class="film__description">
        <h2 class="film__headline">Moonlight</h2>
        <table class="film__info">
            <tbody>
            <tr>
                <td class="left_col">
                    <p>genre:</p>
                </td>
                <td class="right_col">
                    <p>melodrama</p>
                </td>
            </tr>
            <tr>
                <td class="left_col">
                    <p>year:</p>
                </td>
                <td class="right_col">
                    <p>2019</p>
                </td>
            </tr>
            <tr>
                <td class="left_col">
                    <p>actors:</p>
                </td>
                <td class="right_col">
                    <p>Noone Noonevich, Noone Noonevich</p>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <p>
                Watching "The Goldfinch" is like reading a novel where someone ripped out every third page from front to back.
                Watching "The Goldfinch" is like reading a novel where someone ripped out every third page from front to back.
                Watching "The Goldfinch" is like reading a novel where someone ripped out every third page from front to back.
            </p>
        </div>
    </div>
</div>
</body>
</html>q