<input type="text" placeholder="sample input">

<textarea placeholder="sample textarea"></textarea>

<!--Форма для зарегистированного пользователя-->
<form>
    <input type="email" placeholder="email">
    <input type="password" placeholder="password">
</form>

<!--Форма для незарегистрированного пользователя-->
<form>
    <input type="email" placeholder="email">
    <input type="text" placeholder="nickname">
    <input type="password" placeholder="password">
    <input type="password" placeholder="password">
</form>