<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../styles/reset.css" >
<link rel="stylesheet" href="../styles/style.css">
<link rel="stylesheet" href="../styles/all.css">
<link rel="stylesheet" href="../styles/textform.css" >
<link rel="stylesheet" href="../styles/button.css">
<link rel="stylesheet" href="../styles/navbar.css">

<!--Авторизованный пользователь-->
<nav class="navbar">
    <div>
        <a class="navbar-title">CINSEAR</a>
    </div>
    <div>
        <input type="text" placeholder="поиск" class="navbar-search">
    </div>
    <div>
        <a class="navbar-item-current">новинки</a>
        <a class="navbar-item">фильмы</a>
        <a class="navbar-item">рейтинги</a>
    </div>
    <div>
        <a><i class="fas fa-bookmark fa-2x color-light"></i></a>
        <a><i class="fas fa-user fa-2x color-light"></i></a>
    </div>
</nav>
</html>