<!--Для неавторизованного пользователя-->
<nav class="navbar">
    <div>
        <a class="navbar-title" href="/">CINSEAR</a>
    </div>
    <div>
        <label for="search"></label>
        <input id="search" type="text" placeholder="поиск" class="navbar-search">
    </div>
    <div>
        <a class="navbar-item navbar-item-current">новинки</a>
        <a class="navbar-item">фильмы</a>
        <a class="navbar-item">рейтинги</a>
    </div>
    <div>
        <button>войти</button>
    </div>
</nav>

<!--Для авторизованного пользователя-->
<nav class="navbar">
    <div>
        <a class="navbar-title" href="/">CINSEAR</a>
    </div>
    <div>
        <label for="search"></label>
        <input id="search" type="text" placeholder="поиск" class="navbar-search">
    </div>
    <div>
        <a class="navbar-item navbar-item-current">новинки</a>
        <a class="navbar-item">фильмы</a>
        <a class="navbar-item">рейтинги</a>
    </div>
    <div>
        <a><i class="fas fa-bookmark fa-2x icon-light"></i></a>
        <a><i class="fas fa-user fa-2x icon-light"></i></a>
    </div>
</nav>
