<!DOCTYPE html>
<html lang="en">
<head>
    <title> navbar </title>
    <link rel="stylesheet" href="../styles/default/reset.css" >
    <link rel="stylesheet" href="../styles/global-vars/style.css">
    <link rel="stylesheet" href="../styles/global-vars/all.css">
    <link rel="stylesheet" href="../styles/components/textform.css" >
    <link rel="stylesheet" href="../styles/components/button.css">
    <link rel="stylesheet" href="../styles/components/navbar.css">
</head>

<body>
<!--Неавторизованный пользователь-->
<nav class="navbar">
    <div>
        <a class="navbar-title">CINSEAR</a>
    </div>
    <div>
        <input type="text" placeholder="поиск" class="navbar-search">
    </div>
    <div>
        <a class="navbar-item-current"> новинки</a>
        <a class="navbar-item"> фильмы</a>
        <a class="navbar-item"> рейтинги</a>
    </div>
    <div>
        <button class="navbar-button">войти</button>
    </div>
</nav>
</body>
</html>
    
