<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Полоска рейтинга</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/all.css" >
    <link rel="stylesheet" href="../styles/rating.css" >
</head>
<body>
<div class="outer main-div">
    <div class="inner">
        <div class="font-normal">Рейтинг фильма: <div class="inline font-positive">7.44</div></div>
    </div>
    <div class="inner">
        <div class="font-normal">Комментарии: <div class="inline ">100 | </div>
		<div class="inline font-positive">+24</div>
		<div class="inline font-size-24"> | </div>
		<div class="inline font-negative">-76</div>
		</div>
    </div>
    <div class="inner">
        <i class="fas fa-star fa-2x star-color"></i>
        <i class="fas fa-star fa-2x star-color"></i>
        <i class="fas fa-star fa-2x star-color"></i>
        <i class="fas fa-star fa-2x star-color"></i>
        <i class="fas fa-star fa-2x star-color"></i>
    </div>
</div>
</body>
