<div id="rating-line">
    <div class="outer font-light">
        <div class="inner">
            <div class="font-size-medium color-light">Рейтинг фильма:
                <span class="color-yellow">7.44</span>
            </div>
        </div>
        <div class="inner">
            <div class="font-size-medium color-light">Комментарии:
                <div class="inline">
                    100 | <span class="color-success-bright">24</span> | <span class="color-error-bright">76</span>
                </div>
            </div>
        </div>
        <div class="inner">
            <i class="fas fa-star fa-2x star"></i>
            <i class="fas fa-star fa-2x star"></i>
            <i class="fas fa-star fa-2x star"></i>
            <i class="fas fa-star fa-2x star"></i>
            <i class="fas fa-star fa-2x star"></i>
        </div>
    </div>
</div>
