<div class="reviews">
    <ul>
        <li class="review bg-success box-shadow">
            <div class="review__source">
                <h4 class="font-medium font-size-medium color-darkest">
                    К фильму <a href="#">«Moonlight»</a>
                </h4>
            </div>
            <div class="review__quote">
                <div class="review__quote-headline">
                    <div class="font-medium font-size-small color-darkest">
                        There are no caves in the film…
                    </div>
                    <div class="review__quote-headline--right inline font-light font-size-small color-darkest">
                        <div class="inline color-success-bright">20</div> / <div class="inline color-error-bright">10</div>
                    </div>
                </div>
                <div class="font-light font-size-small color-darkest">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                    et dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                    consetetur sadipscing
                    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    At vero eos et
                </div>
            </div>
        </li>
        <li class="review bg-error box-shadow">
            <div class="review__source">
                <h4 class="font-medium font-size-medium color-darkest">
                    К фильму <a href="#">«Moonlight»</a>
                </h4>
            </div>
            <div class="review__quote">
                <div class="review__quote-headline">
                    <div class="font-medium font-size-small color-darkest">
                        There are no caves in the film…
                    </div>
                    <div class="review__quote-headline--right inline font-light font-size-small color-darkest">
                        <div class="inline color-success-bright">20</div> / <div class="inline color-error-bright">10</div>
                    </div>
                </div>
                <div class="font-light font-size-small color-darkest">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                    et dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                    consetetur sadipscing
                    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    At vero eos et
                </div>
            </div>
        </li>
        <li class="review bg-success box-shadow">
            <div class="review__source">
                <h4 class="font-medium font-size-medium color-darkest">
                    К фильму <a href="#">«Moonlight»</a>
                </h4>
            </div>
            <div class="review__quote">
                <div class="review__quote-headline">
                    <div class="font-medium font-size-small color-darkest">
                        There are no caves in the film…
                    </div>
                    <div class="review__quote-headline--right inline font-light font-size-small color-darkest">
                        <div class="inline color-success-bright">20</div> / <div class="inline color-error-bright">10</div>
                    </div>
                </div>
                <div class="font-light font-size-small color-darkest">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                    et dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                    consetetur sadipscing
                    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                    At vero eos et
                </div>
            </div>
        </li>
    </ul>
</div>