<!DOCTYPE html>
<html lang="en">
<head>
    <title>textform</title>
    <link rel="stylesheet" href="../styles/default/reset.css" >
    <link rel="stylesheet" href="../styles/global-vars/style.css">
    <link rel="stylesheet" href="../styles/global-vars/all.css" >
    <link rel="stylesheet" href="../styles/components/textform.css" >
</head>

<body>
<!--Форма для зарегистированного пользователя-->
<form>
    <input type="email" placeholder="email">
    <input type="password" placeholder="password"> 
</form>
</html>

<!--Форма для незарегистрированного пользователя-->
<form>
    <input type="email" placeholder="email">
    <input type="text" placeholder="nickname"> 
    <input type="password" placeholder="password"> 
    <input type="password" placeholder="password"> 
</form>
</body>
</html>