<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../styles/reset.css" >
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/all.css">
    <link rel="stylesheet" href="../styles/review.css">
</head>
<body>

<div class=""> <!-- to center this section or whatever -->
    <div class=""> <!-- resensii osenki spiski goes here -->
    </div>
    <div class="reviews"> <!-- maybe add some padding inside container -->
        <ul>
            <li class="review">
                <div class="review__source">
                    <h4 class="movie__description">
                        <a href="#">Moonlight</a>
                    </h4>
                </div>
                <div class="review__quote">
                    <div class="review__quote-headline">
                        <div class="review__quote-headline--left">
                            Can't see Goldfish...
                        </div>
                        <div class="review__quote-headline--right">
                            Sep 10, 2019 | Rating: 1/4
                        </div>
                    </div>
                    <p>
                        Watching "The Goldfinch" is like reading a novel where someone ripped out every third page from front to back.
                        Watching "The Goldfinch" is like reading a novel where someone ripped out every third page from front to back.
                        Watching "The Goldfinch" is like reading a novel where someone ripped out every third page from front to back.
                    </p>
                </div>
            </li>
            <li class="review">
                <div class="review__source">
                    <h4 class="movie__description">
                        <a href="#">Moonlight</a>
                    </h4>
                </div>
                <div class="review__quote">
                    <div class="review__quote-headline">
                        <div class="review__quote-headline--left">
                            Can't see Goldfish...
                        </div>
                        <div class="review__quote-headline--right">
                            Sep 10, 2019 | Rating: 1/4
                        </div>
                    </div>
                    <p>
                        Watching "The Goldfinch" is like reading a novel where someone ripped out every third page from front to back.
                        Watching "The Goldfinch" is like reading a novel where someone ripped out every third page from front to back.
                        Watching "The Goldfinch" is like reading a novel where someone ripped out every third page from front to back.
                    </p>
                </div>
            </li>
            <li class="review">
                <div class="review__source">
                    <h4 class="movie__description">
                        <a class="" href="#">Moonlight</a>
                    </h4>
                </div>
                <div class="review__quote">
                    <div class="review__quote-headline">
                        <div class="review__quote-headline--left">
                            Can't see Goldfish...
                        </div>
                        <div class="review__quote-headline--right">
                            Sep 10, 2019 | Rating: 1/4
                        </div>
                    </div>
                    <p>
                        Watching "The Goldfinch" is like reading a novel where someone ripped out every third page from front to back.
                        Watching "The Goldfinch" is like reading a novel where someone ripped out every third page from front to back.
                        Watching "The Goldfinch" is like reading a novel where someone ripped out every third page from front to back.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>