<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../styles/reset.css" >
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/all.css">
    <link rel="stylesheet" href="../styles/user-info.css">
</head>
<body>
<div class="user-info"> <!-- to center this section or whatever -->
    <div class="user-info__img"> <!-- img -->
        <img alt="photo" src="../img/guy.jpeg">
    </div>
    <div class="user-info__details"> <!-- img -->
        <ul>
            <li>AlmostCurrentPerson</li>
            <li>
                <div>
                    <p>raiting: 18,18</p>
                    <p>review amount: 10</p>
                </div>
            </li>
            <li>
                normal human
            </li>
            <li>
<!--                button here-->
            </li>
        </ul>
    </div>
</div>
</body>
</html>