<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../styles/default/reset.css" >
    <link rel="stylesheet" href="../styles/global-vars/style.css">
    <link rel="stylesheet" href="../styles/all.css">
    <link rel="stylesheet" href="../styles/user-info.css">
</head>
<body>
<div class="user-info"> <!-- to center this section or whatever -->
    <div class="user-info__img"> <!-- img -->
        <img alt="photo" src="../img/guy.jpeg">
    </div>
    <div class="user-info__details"> <!-- img -->
        <ul>
            <li><div class="inline font-medium font-size-medium color-darkest">AlmostCurrentPerson</div></li>
            <li><div>
                <div class="inline font-medium font-size-small color-dark">рейтинг на сайте:
                    <div class="inline color-darkest">18,12</div>
                </div>
                <div class="inline font-medium font-size-small color-dark">рецензий:
                    <div class="inline color-darkest">2</div>
                </div>
            </div></li>
            <li><div class="inline font-light font-size-small color-darkest">
                Чисто человек 21 века (до н.э.) белого цвета. Не люблю больших кошек.
            </div></li>
            <li><!--button here--></li>
        </ul>
    </div>
</div>
</body>
</html>
