<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../styles/reset.css" >
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/all.css">
    <link rel="stylesheet" href="../styles/user-info.css">
</head>
<body>
<div class="user-info"> <!-- to center this section or whatever -->
    <div class="user-info__img"> <!-- img -->
        <img alt="photo" src="../img/guy.jpeg">
    </div>
    <div class="user-info__details">
        <div class = "ul">
            <div class = "li">AlmostCurrentPerson</div>
            <div class = "li">
                <div>
                    <p>raiting: 18,18</p>
                    <p>review amount: 10</p>
                </div>
            </div>
            <div class = "li">
                normal human
            </div>
            <div class = "li">
            <!-- zdes doljna bit knopka s maketa -->
            </div>
        </div>
    </div>
</div>
</body>
</html>