@import "../../../css/variables"

.login
  width: 100%
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  background-image: url("/src/images/poster.jpg")
  background-size: cover

.login__form
  display: flex
  justify-content: center
  width: 60%
  .button
    margin-top: 4*$indent

.login__auth
  flex: 1
  +shadow-dark
  width: 100%
  align-items: center
  justify-content: center
  background-color: $color-darkest
  display: flex
  flex-direction: column
  padding: 2*$indent
  .input:focus
    +shadow-light
  *
    margin: $indent 0
  .title
    margin: 2*$indent 0
    color: $color-lightest

.login__register
  flex: 2
  +shadow-dark
  padding: 2*$indent
  align-items: center
  justify-content: center
  background-color: $color-lightest
  display: flex
  flex-direction: column
  *
    margin: $indent 0
  .title
    margin: 2*$indent 0
.login__iconbar
  display: flex
  width: 15vw
  justify-content: space-around
  i
    font-size: $font-size-large

.login__iconbar_light
  i
    color: $color-lightest

.login__iconbar_dark
  i
    color: $color-darkest

.error-mes
  color: red

@media screen and (max-width: 1000px) and (orientation: portrait)
  .login__form
    width: 100%
    flex-wrap: wrap
    margin-top: 6*$indent
  .login__auth
    align-items: center
    justify-content: center
    background-color: $color-darkest-75
    display: flex
    flex-direction: column
    padding: 2*$indent
  .login__register
    padding: 2*$indent
    align-items: center
    justify-content: center
    background-color: $color-light-90
    display: flex
    flex-direction: column

@media screen and (min-width: 1000px)
  .login__auth
    border-top-left-radius: 2*$indent
    border-bottom-left-radius: 2*$indent
  .login__register
    border-top-right-radius: 2*$indent
    border-bottom-right-radius: 2*$indent

