@import '../../css/variables'

.input
  font-size: $font-size-small
  padding: 0.5*$indent 2*$indent
  line-height: 1.5
  border: 1px solid $color-darkest
  border-radius: $indent
  resize: none
  +transition(0.5s)


  &:focus
    +transition(0.5s)
    outline: none
    +shadow-dark

input::placeholder
  line-height: 1.5
  font-style: italic