<div class="profile__reviews">
    <div class="review review_positive">
        <div class="review__author-info">
            <img src="../../images/avatar.jpg" alt="username" class="review__img">
            <a href="/user">AlmostCurrentPerson</a>
        </div>
        <div class="title">Review's title</div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget sem at nulla malesuada pulvinar vitae
            non
            felis. Aenean vel tempor risus. Mauris congue, neque non imperdiet pharetra, tellus nulla molestie dui, non
            porttitor dolor nulla a turpis. Duis rhoncus erat vitae neque ullamcorper cursus. Morbi suscipit lectus
            metus,
            in iaculis nulla pretium in. Aliquam vestibulum hendrerit nisi posuere commodo. Praesent sed turpis mi.
            Proin
            mattis ipsum at arcu mattis, a accumsan est mollis. Aliquam quis metus sodales, auctor metus quis, pharetra
            libero. Cras laoreet rhoncus velit ac viverra. Integer laoreet sagittis nibh, at convallis leo ullamcorper
            id.
            Curabitur porta est purus, et interdum quam cursus vel. Fusce sodales molestie turpis id rutrum. Vivamus ut
            magna a neque viverra rutrum ut eu quam. Donec convallis nunc sed sem suscipit fringilla.
        </div>
        <div class="review__bar">
            <input class="button" type="button" value="Полезно">
            <input class="button" type="button" value="Вредно">
        </div>
    </div>
</div>


<!--Отзыв для страницы профиля-->
<div class="profile__reviews">
    <div class="review review__positive">
        <a href="/film" >Побег из Шоушенка</a>
        <div class="title">Review's title</div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget sem at nulla malesuada pulvinar vitae
            non
            felis. Aenean vel tempor risus. Mauris congue, neque non imperdiet pharetra, tellus nulla molestie dui, non
            porttitor dolor nulla a turpis. Duis rhoncus erat vitae neque ullamcorper cursus. Morbi suscipit lectus
            metus,
            in iaculis nulla pretium in. Aliquam vestibulum hendrerit nisi posuere commodo. Praesent sed turpis mi.
            Proin
            mattis ipsum at arcu mattis, a accumsan est mollis. Aliquam quis metus sodales, auctor metus quis, pharetra
            libero. Cras laoreet rhoncus velit ac viverra. Integer laoreet sagittis nibh, at convallis leo ullamcorper
            id.
            Curabitur porta est purus, et interdum quam cursus vel. Fusce sodales molestie turpis id rutrum. Vivamus ut
            magna a neque viverra rutrum ut eu quam. Donec convallis nunc sed sem suscipit fringilla.
        </div>
    </div>
</div>