@import '../../css/variables'


.review__img
  max-width: 15%
  float: left
  margin: $indent
  border-radius: $indent

.review .text, .review .title
  margin: 10px 0

.review
  padding: 0
  border-radius: 0
  display: flex
  border: 2px solid $color-lightest
  .review__text
    width: 80%
    padding: 2*$indent
  .review__likes
    width: 20%
    background-color: $color-accent
    color: $color-lightest
    display: flex
    justify-content: center
    align-items: center
  &:hover
    border: 2px solid $color-accent