@import '../../css/variables'

.text-title
  width: 100%
  font-family: $font-medium
  font-size: $font-size-large
  color: $color-darkest
  text-transform: uppercase

.text-title_center
  text-align: center

.text-title_success
  color: $color-success-bright

.text-title_error
  color: $color-error-bright

.text-title_yellow
  color: $color-yellow

.text
  font-family: $font-light
  font-size: $font-size-small
  color: $color-darkest

