@import "../../../css/variables"
.profile
  display: flex
  flex-direction: row
  width: 80%
  margin-top: 10*$indent
  justify-content: center


// TODO: Что-то сделать с аватаркой, резать на стороне сервера?
.profile__photo
  width: 100%
  border-radius: 2*$indent

.profile__info
  max-width: 20%
  text-align: center

.profile__wall
  margin: 0 2*$indent
  display: flex
  align-items: center
  flex-direction: column
  width: 50%

.profile__reviews .review
  margin-top: 2*$indent

.profile-edit-form
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  width: 75%

.profile-edit-form  *
  width: 100%
  margin-top: $indent

.profile__button
  margin-top: $indent
  margin-bottom: $indent