@import "../../../css/variables"
.profile
  display: flex
  flex-direction: row
  width: 80%
  margin-top: 10*$indent
  justify-content: center


// TODO: Что-то сделать с аватаркой, резать на стороне сервера?
.profile__photo
  width: 20vw
  height: 25vw
  border-radius: 2*$indent

.profile__info
  max-width: 25%
  text-align: center

.profile__wall
  margin: 0 2*$indent
  display: flex
  align-items: center
  flex-direction: column
  +shadow-dark
  width: 65%

.profile-edit-form
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  font-size: $font-size-medium
  padding: 2*$indent
  +available
  .profile-edit-form__avatar
    display: flex
  .profile-edit-form__text
    font-family: $font-medium

.profile-edit-form  *
  +available
  margin: $indent


.profile__button
  margin-top: $indent
  margin-bottom: $indent

.profile__bar
  width: 100%
  display: flex

  .button
    width: 50%
    padding: 2*$indent 0
    border-radius: 0
    color: $color-darkest
    background-color: $color-light-90
    border: 0
    &:hover
      background-color: $color-accent
      color: $color-lightest
  .button_active
    color: $color-darkest
    background-color: $color-lightest
    box-shadow: 0 -5px $color-accent
    opacity: 1

.profile__lists
  display: flex
  width: 100%
  flex-direction: column

.film-list
  margin: 2*$indent $indent
  display: flex
  flex-direction: column
  .film-list__title
    text-align: center
    margin: $indent 0
    padding: $indent 0
    box-shadow: 0 -3px $color-accent-50
  .film-list__item
    padding:  $indent
    font-size: $font-size-medium
  .film-list__item_rose
    background-color: $color-accent-10




