:root {
  --color-primary: #AD141E;
  --color-primary-light: #ADFFFF;
  --color-primary-dark: #ADADAD;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 68em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  flex: 0 0 45%;
  align-self: stretch;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search--upper, .search--lower {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1px 0;
}
.search--lower {
  justify-content: center;
}
.search--upper {
  justify-content: flex-end;
  position: relative;
}
.search__input {
  z-index: 5;
  font-family: inherit;
  font-style: inherit;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100rem;
  width: 100%;
  outline: none;
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-dark-3);
}
.search__button {
  z-index: 10;
  position: absolute;
  padding: 0.8rem;
  border: none;
  background-color: transparent;
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(0.2rem);
}
.search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-3);
}
.search--lower a {
  font-size: 1.4rem;
  text-decoration: none;
  padding: 0 2rem;
}

.user-info {
  align-self: stretch;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
.user-info > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.user-info > *:hover {
  background-color: var(--color-grey-light-2);
}
.user-info__icon-box {
  position: relative;
}
.user-info__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--color-grey-dark-3);
}
.user-info__notification-amount {
  font-size: 0.8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-info__user-photo {
  height: 3.75rem;
  border-radius: 50%;
  margin-right: 2rem;
}
.banners {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.banners__item {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.banners__photo {
  max-width: 100%;
  display: block;
}
.banners__headline {
  height: 30%;
  position: absolute;
  top: 65%;
  left: 2.5%;
  right: 2.5%;
  text-transform: uppercase;
  color: var(--color-grey-dark-2);
}
.banners__headline--background {
  padding: 0.5rem 0.2rem;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.85));
}
.banners__headline h4 {
  font-size: 1.8rem;
}
.banners__headline p {
  font-size: 1rem;
}

.logo {
  align-self: stretch;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}
.logo > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo > *:hover {
  background-color: var(--color-grey-light-2);
}
.logo a {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
