.outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

.main-div {
    background-color: var(--color-dark);
    height: 106px;
    width: 100%;
    opacity: 1;
}

.font-normal {
    font-family: Helvetica Neue Medium, sans-serif;
    font-size: 20pt;
    color: var(--color-light);
}

.font-positive {
    font-family: Helvetica Neue Medium, sans-serif;
    font-size: 24pt;
    color: var(--color-success);
}

.font-negative {
    font-family: Helvetica Neue Medium, sans-serif;
    font-size: 24pt;
    color: var(--color-error);
}

.star-color {
    color: #E5D161;
}

.font-size-24 {
    font-size: 24pt;
}

.inline {
    display: inline;
}
