@import "../../../css/variables"
.rating-page
  justify-content: space-evenly
  display: flex
  align-items: center

.rating
  margin-top: 12*$indent
  width: 70%
  align-self: center
  .button
    align-self: center
    margin-bottom: 2*$indent

.rating__place
  min-width: 10vw
  background-color: $color-accent
  display: flex
  align-items: center
  justify-content: center
  align-self: normal
  margin: 0
  font-size: $font-size-super-large

.rating__img
  position: relative
  a
    position: absolute
    width: 100%
    height: 100%
    margin: 0
  img
    width: 100%
    margin: 0
  max-width: 10vw
  min-width: 10vw
  margin: 0

.rating__film
  margin: 2*$indent 0
  display: flex
  align-items: center
  +shadow-dark
  &:hover
    transform: translate(1%, -3%)
    +transition(0.5s)
    background-color: $color-accent-10

.rating__film-card
  padding: 2*$indent

.rating__film-card *
  margin: $indent 0


@media screen and (max-width: 1000px) and (orientation: portrait)
  .rating
    width: 95%
    .title
      font-size: $font-size-medium
  .rating__film
    flex-direction: column
  .rating__img
    max-width: unset
    min-width: unset
    position: relative
    height: 30vh
    width: 20vh
    overflow: hidden
    display: flex
    justify-content: center
    a
      position: absolute
      width: 100%
      height: 100%
      margin: 0
    img
      height: 30vh
      margin: 0