@import "../../../css/variables"
.search
  justify-content: space-evenly
  display: flex
  align-items: center


.search-results
  align-self: center
  margin-top: 12*$indent
  width: 60%

.search-results__img
  max-height: 40vh

.search-results__film
  margin: 2*$indent 0
  display: flex
  align-items: center
  padding: 2*$indent
  border-radius: 2*$indent
  text-align: center
  +shadow-dark

.search-results__film-card
  margin: 0 5%

.search-results__film-card *
  margin: $indent 0

.search .top
  margin-bottom: 2*$indent
