@import "../../../css/variables"


.film-index
  width: 100%
  padding-top: 7.5*$indent
  display: flex
  flex-direction: column
  align-items: center
  background-color: $color-light-50

.film
  width: 100%
  display: flex
  align-items: center
  flex-direction: row
  text-align: center
  padding: 6vw 0
  background-color: $color-light
  justify-content: center
  position: relative
  a
    color: $color-accent
    &:hover
      color: $color-lightest

.film__background
  background-color: $color-darkest-75
  width: 100%
  height: 100%
  position: absolute
  z-index: 5

.film__iframe
  position: absolute
  width: 100%
  height: 100%
  z-index: 0

.film *
  margin-top: $indent/2
  margin-bottom: $indent/2
  color: $color-lightest

.posters
  width: 55vh
  margin: 2*$indent 0
  height: 50vh
  position: relative
  .posters__img
    position: absolute
    z-index: 10
    +shadow-light
  .posters__img_left
    opacity: 0.5
    left: 0
    width: 25vh
    height: 40vh
  .posters__img_right
    opacity: 0.5
    right: 0
    width: 25vh
    height: 40vh
  .posters__img_active
    top: 50%
    left: 50%
    z-index: 70
    width: 30vh
    height: 45vh
    transform: translate(-50%, -50%)

.film__title
  text-align: left

.film__description
  width: 40%
  margin: 0 2*$indent
  display: flex
  flex-direction: column
  text-align: left
  z-index: 10
  background-color: $color-darkest-50
  .film__decription_main
    font-family: $font-medium

.film__user-block
  width: 15%
  background-color: $color-darkest
  border-radius: 2.5*$indent
  height: 20vh

.reviews-block
  display: flex
  flex-direction: column
  width: 80%
  +shadow-dark
.user-review-block
  display: flex
  flex-direction: column
  width: 90%
  +shadow-dark
  align-self: center
  align-items: center
  .button
    width: auto
    align-self: center

.user-block
  +shadow-dark
  align-items: center
  justify-content: space-evenly
  min-height: 75px
  background-color: $color-darkest
  display: flex
  width: 100%
  .user-block__button
    background-color: $color-accent
    color: $color-lightest
    display: flex
  .user-block__button_disabled
    opacity: 0.5




.feedback-block
  display: flex
  flex-direction: column
  width: 100%
  .feedback-block__title
    margin-top: $indent
    text-align: center

.title *
  margin: 0 $indent

.film__star
  color: $color-dark
  +transition(0.5s)

  &:hover
    +transition(0.5s)
    color: $color-yellow

.film__wall
  width: 80%
  +shadow-dark


.feedback-form
  margin: $indent 0
  width: 60%

  .feedback-form__top
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between

  .feedback-form__title
    width: 100%
    margin: 0
    padding: 10px 15px

  .title
    margin-top: 4*$indent

  .form
    margin-bottom: 2*$indent

.feedback-form *
  margin: $indent 0
  +available


.feedback
  width: 80%
  display: flex
  align-self: center
  margin: 2*$indent 0
  +shadow-dark

  .feedback__img
    width: 17vh
    height: 20vh

  .feedback__mark
    width: 15%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: $indent 0

  .feedback__text
    img
      display: none
    width: 70%
    margin: $indent 0
    display: flex
    flex-direction: column
    font-size: $font-size-small

    .feedback__text_main
      font-family: $font-medium

  .feedback__rating
    width: 15%

.feedback__text *
  margin: 10px 0


.user-rating
  background-color: $color-darkest
  color: $color-lightest
  display: flex
  flex-direction: column
  justify-content: center

  .user-rating__text
    color: $color-lightest
    margin: $indent 0
    text-align: center


.stars
  position: relative
  display: inline

  .stars i
    -webkit-transition: 0.3s

    &:hover
      cursor: pointer

  .star_active
    color: palegoldenrod

  .star_chosen
    color: gold

  &:hover
    -webkit-transition: 0.3s
    cursor: pointer

.button__stars
  &:hover
    cursor: pointer

.stars__change
  color: white
  font-size: 1em
  display: none
  justify-content: center
  align-items: center
  position: absolute
  margin: auto
  top: 0
  bottom: 0
  left: 0
  right: 0

.stars_review i
  color: $color-dark
.opacity-0
  opacity: 0
.opacity-1
  opacity: 1


@media screen and (max-width: 1000px) and (orientation: portrait)
  iframe
    display: none
  .posters__img_left
    display: none
  .posters__img_right
    display: none
  .film__description
    width: 80%
  .posters
    width: 100%
  .user-block
    flex-direction: column
    .button
      margin: $indent 0
  .film
    flex-direction: column
    *
      text-align: start
  .feedback
    width: 100%
    flex-direction: column
    *
      text-align: start
    .title
      font-size: $font-size-medium
    +shadow-dark
    .feedback__img
      width: 10vh
      height: 12vh
    .feedback__mark
      display: none
    .feedback__text
      display: unset
      img
        display: unset
        float: left
        margin: 2*$indent
      width: unset
    .feedback__rating
      width: unset
  .feedback__text *
    margin: 10px 0
  .feedback-form
    width: 80%