// TODO: Перевести все цвета в rgba
$color-darkest: #011C26
$color-dark: #4C6C73
$color-light: #EBF1F2
$color-error: #F8F2F2
$color-error-bright: #f85255
$color-success: #F2FDF0
$color-success-bright: rgb(43, 182, 86)
$color-yellow: #E5D161

$color-darkest-50: rgba(1, 28, 38, 0.5)
$color-light-75: rgba(235, 241, 242, 0.75)

$font-size-small: 1em
$font-size-medium: 1.4em
$font-size-large: 1.6em

$font-light: Helvetica Neue Light, sans-serif
$font-regular: Helvetica Neue Regular, sans-serif
$font-medium: Helvetica Neue Medium, sans-serif
$font-bold: Helvetica Neue Bold, sans-serif
$font-serif: Baskerville Regular, serif


@mixin transition($seconds)
  transition: $seconds
  -moz-transition: $seconds
  -o-transition: $seconds
  -webkit-transition: $seconds


@mixin shadow-light
  -webkit-box-shadow: 0 0 10px 0 $color-light-75
  -moz-box-shadow: 0 0 10px 0 $color-light-75
  box-shadow: 0 0 10px 0 $color-light-75

@mixin shadow-dark
  -webkit-box-shadow: 0 5px 10px 0 $color-darkest-50
  -moz-box-shadow: 0 5px 10px 0 $color-darkest-50
  box-shadow: 0 5px 10px 0 $color-darkest-50