<div class="top">
    <div class="text-title top__title">Топ 10 фильмов</div>
    <div class="hr"></div>
    <div class="list">
        <div class="list__item">1. Фильм</div>
        <div class="list__item">2. Фильм</div>
        <div class="list__item">3. Фильм</div>
        <div class="list__item">4. Фильм</div>
        <div class="list__item">5. Фильм</div>
        <div class="list__item">6. Фильм</div>
        <div class="list__item">7. Фильм</div>
        <div class="list__item">8. Фильм</div>
        <div class="list__item">9. Фильм</div>
        <div class="list__item">10. Фильм</div>
    </div>
</div>