.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  box-shadow: 0 0.2rem 1rem -1rem var(--color-grey-dark-1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}