.aside {
    max-width: 30%;
}

.aside__headline {
    font-size: 20px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.aside__headline--center {
    align-self: center;
    display: block;
}

.table {
    background-color: var(--color-light);
    display: flex;
    justify-content: center;
}

.table > *:not(:last-child) {
    margin-right: 15px;
}

.aside > *:not(:last-child) {
    margin-bottom: 20px;
}
