.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.block-inner {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

.error-text_font-size_80pt {
    font-family: "Helvetica Neue Bold", sans-serif;
    font-size: 80pt;
    text-align: center;
}

.error-text_font-size_24pt {
    font-family: "Helvetica Neue Regular", sans-serif;
    font-size: 24pt;
    text-align: center;
}

.error-text_font-size_18pt {
    font-family: "Helvetica Neue Regular", sans-serif;
    font-size: 18pt;
    text-align: center;
}

.margin {
    margin: 5%;
}
