.button_text {
    text-transform: uppercase;
}

.outer {
    display: flex;
    padding: 0 10%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inner {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}