.user-info {
    width: 30%;

    display: flex;
    flex-direction: column;
}

.user-info__img {  /*refactor later*/
    padding: 5px;
    padding-bottom: 0;
}

.user-info__details {
    padding: 5px;
}

.user-info__details .ul {
    list-style: none;
    width: 90%;
    margin: 0 auto;
}

.user-info__details .ul .li {
    text-align: center;
    font-size: 16px;
    padding: 16px;
}

.user-info__details .ul .li:not(:last-child) {
     border-bottom: 1px solid var(--color-dark);
}